<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="bd">

	<br/><br/>
	<div class="panel panel-info">
		<div class="panel-heading">
			<center>
				<h2> Libro BORRADO !!</h2>
			</center>
		</div>
		<br/><br/> 
		<center> <a class="btn btn-info" href="/"> Volver a INICIO </a> </center>
		<br/><br/>
		
	</div>

</body>
</html>